:root {
  --msg__logo: url("/assets/ms_logo.png");
  --bg_1: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/main/3b988918688e682d58d59d94a863a07de53e807a.webp");
  --bg_2: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section1/16711c544d2fd4e1cabbdb2ff2f6d41bd02793d8.webp");
  --bg_3: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section2/c42dcc454635595e23e7b54e4b98a3f813589051.webp");
  --bg_4: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section9/e3cd6fffeea490d32c667a58b5439c7e2fbec71d.webp");
  --bg_5: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section3/57850571bf0fdfe2bad974bfeac0f23a7378e5de.webp");
  --bg_6: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section4/8d03aa7a9c076a5b35826a1ebedd5e0bfd8bddeb.webp");
  --bg_7: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section5/492b8c816ea87e54f4cb26b7e4405d3b2a4f26a9.webp");
  --bg_8: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section6/f46d8d66e0c85080e8ada65a88c33406d830fc03.webp");

  --navigation__list: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/common/061f061a5a6947fb955b779fe330d0c9afe2bd81.webp");
  --navigation__bg: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/common/94b6ddfa5399a376720cf838f2af9d548643627c.webp");
  --navigation__indicator: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/common/d91d9a7943521df13bf8e7c0f2482fd67316ea13.webp");

  --section_1--subtitle: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/main/e4f4fc196d76cd6d032d008193becbc1fe988fb4.webp");

  --section_2--title: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section1/aa46ef5f7381ae87d2aefb7fd6655cb8bb445b00.webp");
  --section_2--subtitle: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section1/38caa40123e71d7453b510150b269d0e7e12331c.webp");

  --section_3--title: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section2/573f029039b91df61932eb0112b87ca4ec08d086.webp");
  --section_3--subtitle: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section2/28501d6017216f0423a61db90895b09b75952d98.webp");

  --section_3--item-marble: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section2/2e4954ffef6095642e25aee2dbab0c1ef7ffb263.webp");
  --section_3--item-marble--effect: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section2/68b7176c69a5b1847aa63b40946b6a1d9301ac04.webp");
  --section_3--item01--title: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section2/f1f824c532dab3bd71db4bbd1a024435127fe126.webp");
  --section_3--item01--caption: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section2/dcb43528d8c75708f806f731e73e7fa403a7de90.webp");
  --section_3--item02--title: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section2/ec3e1721065ae393c7a52f6b828dc6f2dbeb10c4.webp");
  --section_3--item02--caption: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section2/8901ee0082290945be0d76735906b653c71b9916.webp");
  --section_3--item03--title: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section2/52e6db4579f2ae1a5acae04d207f57fa9a838459.webp");
  --section_3--item03--caption: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section2/b0a99cbf4ae2374f13f00b6d56c3f058d09b4135.webp");

  --section_4--title: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section9/eabcca166603b1e28691eb6b9b726a029a180c94.webp");
  --section_4--subtitle: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section9/739fa49f91d012ea67bb9017f475515b98c5fb88.webp");
  --section_4--item01--content: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section9/97fe6776541ab747e9a583009eb17c8e4dcb97b6.webp");
  --section_4--item01--character: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section9/fdfaf6b71d40726d9b084567c656b09f441278fb.webp");
  --section_4--item01--cta: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section9/f957b2b5e685cbb735547093d23fbe7a4f75a0fc.webp");

  --section_5--title: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section3/9892919eb8c7baee4e08d386d97ba407d8008b45.webp");
  --section_5--subtitle: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section3/3bfe6b0fe1594e1935296e0d89759ab41738884b.webp");
  --section_5--item--bg: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section3/d6c5e7ed838769a2311be4ab8993fa0c73ce9fc9.webp");

  --section_5--item01--title: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section3/833831b77e9631a4d8757ee7e73557e029177d50.webp");
  --section_5--item01--content: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section3/af102d00b90b7285ed149468fe0218e3b6bb8a00.webp");
  --section_5--item01--caption: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section3/98535230e25262a9e91450efe39170fb76823cb2.webp");

  --section_5--item02--title: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section3/771ff139425ded0bd64bcd6303a64ffbec496261.webp");
  --section_5--item02--content: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section3/296b64a19f7604ee7214c314ee880e322e0c6826.webp");
  --section_5--item02--caption: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section3/e9c785c9acc25f0719b398358b3e5f20c39eee3f.webp");

  --section_5--item03--title: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section3/194a4cfe512e79f6ebaa00937089baeb1620ee38.webp");
  --section_5--item03--content: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section3/d2a94d6a458585bea201524c363003447ac0ab02.webp");
  --section_5--item03--caption: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section3/0b79c9df496002dd9edc3ccf04886724b55bf91d.webp");
  --section_5--cta: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section3/85fea85878c93fa55ecb231c6a8b3b178a89826d.webp");

  --section_6--title: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section4/3ba38d5110fa932efeb9202ae2699e927a1138ad.webp");
  --section_6--subtitle: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section4/72eda8463cb2a85a719bea31a3e10ae809e33ecc.webp");
  --section_6--content_bg: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section4/2e95f5ed1873146ef4b92dea399b02d4ebe3e945.webp");
  --section_6--item01--content: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section4/38f26985305bf0d848302adf0e39c01da9c7cd30.webp");
  --section_6--item01--caption: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section4/1fd701f71417c0d7caccf4fa74dac76054c97638.webp");
  --section_6--item02--content: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section4/0158d3b1fe57ba6632cf46d73b16ed9d54cc8412.webp");
  --section_6--item02--caption: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section4/ed46927b67a08905e453a132a7585dd1b0eac9e0.webp");
  --section_6--item03--content: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section4/2c96e43eacbb44fe61b09c3500a6b6c4eefd2fe1.webp");
  --section_6--item03--caption: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section4/fdfb4110937fdf4c55039f9290f8158cde0dea0d.webp");
  --section_6--cta: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section4/d04f1be9cce32c80b10e59e340720455d2a9b2ff.webp");

  --section_7--title: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section5/d77245da7eca1ea74b1696d573a3db9b041c6a3c.webp");
  --section_7--subtitle: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section5/9050a7f06384a31e72f55373dc1c53fe76ef45c2.webp");
  --section_7--item--bg: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section5/b1dffba74d0b70bc527d59960b42e3650b382633.webp");
  --section_7--item--line: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section5/5a87e5f40a7c3b9666c287c6f6eb151fb14b17e5.webp");
  --section_7--item--bgHover: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section5/62ba0a1a86e56834fb0d746af65df344669ce0e9.webp");
  --section_7--item01--title: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section5/3710964eee684f4c5302a679d500b141ee0358dc.webp");
  --section_7--item01--caption: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section5/ec334b8d81caa5fe8994daea5cbdaa2a7fb3a38f.webp");
  --section_7--item02--title: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section5/ef0a916826487791b27a320110519ab16e04b0eb.webp");
  --section_7--item02--caption: url("https://assets.playnccdn.com/res/lineage/update/2024/240620_update/2nd/pc/img/section5/09c4888b89e9e07e906f7c7710b036c7fa1dcce4.webp");
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: black;
}
li {
  list-style: none;
}
a,
a:visited,
a:hover,
a:focus,
a:active {
  color: initial;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
.pre-load {
  background-color: black;
  user-select: none;
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 99999;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(1) blur(0px);

  .ms__logo {
    width: 450px;
    height: 150px;
    background-image: var(--msg__logo);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    transform: scale(1.5);
    opacity: 1;
    filter: invert(1) blur(20px) grayscale(100%);
  }
}
.material-symbols-outlined {
  color: white;
}
.msg__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  z-index: 99998;
  background-color: rgba(6, 4, 4, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .msg__hamburger {
    padding-left: 10px;
    color: white;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  .msg__header--actions {
    padding-right: 30px;
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
.msg__navigator {
  position: fixed;
  height: 100%;
  left: 0;
  top: 50%;
  width: 230px;
  transform: translateY(-50%);
  z-index: 9999;
  margin-top: -6px;
  margin-left: -1px;

  &::before {
    position: absolute;
    top: 50%;
    width: 380px;
    height: 1080px;
    margin-top: -540px;
    content: "";
    z-index: 4;
    background: var(--navigation__bg) no-repeat center 0;
  }
  ul {
    position: relative;
    display: block;
    top: 0;
    top: 50%;
    width: 380px;
    height: 320px;
    margin-top: -160px;
    z-index: 5;
    margin-left: 15px;
  }

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-indent: -8000px;
    cursor: pointer;

    & a {
      display: block;
      line-height: 30px;
      height: 100%;
    }

    &.menu__item--01 {
      background: var(--navigation__list) no-repeat -2px 0;

      &.active {
        background: var(--navigation__list) no-repeat -240px 0;
      }
    }
    &.menu__item--02 {
      background: var(--navigation__list) no-repeat -2px -42px;

      &.active {
        background: var(--navigation__list) no-repeat -240px -42px;
      }
    }
    &.menu__item--03 {
      background: var(--navigation__list) no-repeat -2px -81px;

      &.active {
        background: var(--navigation__list) no-repeat -240px -81px;
      }
    }
    &.menu__item--09 {
      background: var(--navigation__list) no-repeat -2px -119px;
    }
    &.menu__item--04 {
      background: var(--navigation__list) no-repeat -2px -460px;
      &.active {
        background: var(--navigation__list) no-repeat -240px -460px;
      }
    }
    &.menu__item--05 {
      background: var(--navigation__list) no-repeat -2px -150px;
      &.active {
        background: var(--navigation__list) no-repeat -240px -150px;
      }
    }
    &.menu__item--06 {
      background: var(--navigation__list) no-repeat -2px -181px;
      &.active {
        background: var(--navigation__list) no-repeat -240px -181px;
      }
    }
    &.menu__item--07 {
      background: var(--navigation__list) no-repeat -2px -215px;

      &.active {
        background: var(--navigation__list) no-repeat -240px -215px;
      }
    }
  }
  .msg__indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 177px;
    height: 84px;
    margin-left: -15px;
    margin-top: -6px;
    z-index: -1;
    user-select: none;
    pointer-events: none;
    background: var(--navigation__indicator) no-repeat 0 bottom;
  }
}

.msg__navigator--mobile {
  position: fixed;
  box-sizing: border-box;
  height: 100%;
  top: 0;
  min-width: 200px;
  background-color: #141414;
  z-index: 99999;
  font-family: sans-serif;
  padding: 50px 36px;
  color: #6f6b5f;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  line-height: 38px;

  &.active {
    transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    transform: translateX(0%);
  }

  & a {
    display: block;
    color: #6f6b5f;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  /* & a:hover {
    color: #ddb382;
  } */

  & a.active {
    color: #ddb382;
  }

  .main__list {
    padding-top: 24px;
  }
  .main__item {
    font-size: 16px;
  }

  .sub__item a {
    font-weight: normal;
  }

  .title {
    & a {
      color: #ddb382;
      font-size: 28px;
      font-weight: bold;
    }
  }

  .sub__list {
    line-height: 25px;
  }

  .sub__item {
    font-size: 14px;
  }

  .line {
    margin-top: 24px;
    margin-bottom: 16px;
    border-bottom: 1px solid #6f6b5f;
  }
  .footer {
    line-height: 30px;
    display: flex;
    align-items: center;

    .material-symbols-outlined {
      color: #6f6b5f;
    }
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 99998;
  transition: background-color 0.3s ease;
  pointer-events: none;

  &.active {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    filter: brightness(0.7);
  }
  50% {
    transform: rotate(210deg);
    filter: brightness(1.5);
  }
  100% {
    transform: rotate(1turn);
    filter: brightness(0.7);
  }
}
.msg__wrapper {
  height: 100%;
  width: 100%;

  .main__item {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .title,
  .subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  #main__item--01 {
    background-image: var(--bg_1);

    .cover__vid {
      & video {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }

    .title {
      width: 1215px;
      height: 174px;
      margin-top: -200px;
      margin-left: -609px;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: var(--section_1--title);
    }
    .subtitle {
      width: 564px;
      height: 120px;
      margin-top: -104px;
      margin-left: -282px;
      background-repeat: no-repeat;
      background-image: var(--section_1--subtitle);
    }
  }
  #main__item--02 {
    background-image: var(--bg_2);

    .title {
      width: 697px;
      height: 174px;
      margin-top: -375px;
      margin-left: -368px;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: var(--section_2--title);
      filter: blur(0px) brightness(1);
    }
    .subtitle {
      width: 562px;
      height: 107px;
      margin-top: -235px;
      margin-left: -280px;

      background-repeat: no-repeat;
      background-position: center center;
      background-image: var(--section_2--subtitle);
    }
  }
  #main__item--03 {
    background-image: var(--bg_3);

    .title {
      width: 1215px;
      height: 171px;
      margin-top: -221px;
      margin-left: -609px;
      filter: blur(0px) brightness(1);
      background-image: var(--section_3--title);
      background-repeat: no-repeat;
      background-position: center 0;
    }

    .subtitle {
      width: 809px;
      height: 102px;
      margin-top: -100px;
      margin-left: -404px;
      background-image: var(--section_3--subtitle);
      background-repeat: no-repeat;
      background-position: center center;
    }

    .content {
      .content__item {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 270px;
        height: 270px;
        filter: brightness(1);
        background: var(--section_3--item-marble) no-repeat center 0;
        z-index: 0;
      }

      .item__bg--effect {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 270px;
        height: 270px;
        margin-top: -135px;
        margin-left: -135px;
        background: var(--section_3--item-marble--effect) no-repeat center 0;
      }

      .item__title {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 270px;
        height: 270px;
        margin-top: -130px;
        margin-left: -132px;
      }

      .item__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 270px;
        height: 270px;
        margin-top: -130px;
        margin-left: -132px;
      }

      .content__item--01 {
        margin-left: -375px;
        .item__bg--effect {
          animation: rotate 6s linear 0s infinite;
        }

        .item__title {
          background: var(--section_3--item01--title) no-repeat center 0;
        }

        .item__caption {
          background: var(--section_3--item01--caption) no-repeat center 0;
        }
      }

      .content__item--02 {
        margin-left: -135px;
        .item__bg--effect {
          animation: rotate 6s linear 1s infinite;
        }

        .item__title {
          background: var(--section_3--item02--title) no-repeat center 0;
        }

        .item__caption {
          background: var(--section_3--item02--caption) no-repeat center 0;
        }
      }

      .content__item--03 {
        margin-left: 105px;
        .item__bg--effect {
          animation: rotate 6s linear 2s infinite;
        }

        .item__title {
          background: var(--section_3--item03--title) no-repeat center 0;
        }

        .item__caption {
          background: var(--section_3--item03--caption) no-repeat center 0;
        }
      }
    }
  }
  #main__item--04 {
    background-image: var(--bg_4);

    .title {
      width: 1215px;
      height: 180px;
      margin-top: -321px;
      margin-left: -608px;
      background: var(--section_4--title) no-repeat center 0;
      filter: blur(0px) brightness(1);
    }
    .subtitle {
      width: 809px;
      height: 102px;
      margin-top: -189px;
      margin-left: -404px;
      background: var(--section_4--subtitle) no-repeat center 0;
    }
    .main__content {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 699px;
      height: 394px;
      margin-top: -96px;
      margin-left: -457px;
      background: var(--section_4--item01--content) no-repeat center 0;
      z-index: 1;
    }
    .character {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 608px;
      height: 1514px;
      margin-top: -413px;
      margin-left: 219px;
      background: var(--section_4--item01--character) no-repeat center 0;
      z-index: 0;
    }
    .cta {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 221px;
      height: 80px;
      margin-top: 313px;
      margin-left: -110px;
      background: var(--section_4--item01--cta) no-repeat center 0;
    }
  }
  #main__item--05 {
    background-image: var(--bg_5);

    .title {
      width: 1215px;
      height: 180px;
      margin-top: -322px;
      margin-left: -607px;
      background-image: var(--section_5--title);
      background-repeat: no-repeat;
      background-position: center 0;
      filter: blur(0px) brightness(1);
    }
    .subtitle {
      width: 809px;
      height: 102px;
      margin-top: -189px;
      margin-left: -404px;
      background-image: var(--section_5--subtitle);
      background-repeat: no-repeat;
      background-position: center 0;
      filter: blur(0px);
    }

    .container {
      position: relative;

      .content {
        & > li {
          width: 328px;
          overflow: hidden;
        }

        .content__item {
          position: absolute;
          opacity: 1;
          top: 50%;
          left: 50%;
          margin-top: -101px;
        }

        .item__bg {
          display: block;
          height: 404px;
          background-image: var(--section_5--item--bg);
          background-repeat: no-repeat;
          background-position: center center;
        }
        .item__title {
          position: absolute;
          left: 50%;
          top: 50%;
          display: block;
          width: 178px;
          height: 40px;
          margin-left: -79px;
          margin-top: -160px;
          background-repeat: no-repeat;
        }

        .item__content {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 328px;
          height: 256px;
          margin-left: -169px;
          margin-top: -140px;
          background-repeat: no-repeat;
          background-position: -10px 0;
          filter: brightness(1) blur(0px);
        }

        .item__caption {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 234px;
          height: 57px;
          margin-left: -117px;
          margin-top: 106px;
          background-repeat: no-repeat;
          filter: brightness(1) blur(0px);
        }

        .content__item--01 {
          margin-left: -475px;

          .item__title {
            background-image: var(--section_5--item01--title);
          }

          .item__content {
            background-image: var(--section_5--item01--content);
          }

          .item__caption {
            background-image: var(--section_5--item01--caption);
          }
        }
        .content__item--02 {
          margin-left: -164px;
          .item__title {
            background-image: var(--section_5--item02--title);
          }

          .item__content {
            background-image: var(--section_5--item02--content);
          }

          .item__caption {
            background-image: var(--section_5--item02--caption);
          }
        }
        .content__item--03 {
          margin-left: 149px;
          .item__title {
            background-image: var(--section_5--item03--title);
          }

          .item__content {
            background-image: var(--section_5--item03--content);
          }

          .item__caption {
            background-image: var(--section_5--item03--caption);
          }
        }
      }
    }

    .cta {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 190px;
      height: 80px;
      margin-top: 313px;
      margin-left: -95px;
      background: var(--section_5--cta) no-repeat center 0;
    }
  }
  #main__item--06 {
    background-image: var(--bg_6);

    .title {
      width: 791px;
      height: 172px;
      margin-top: -322px;
      margin-left: -398px;
      background: var(--section_6--title) no-repeat center 0;
      filter: blur(0px) brightness(1);
    }
    .subtitle {
      width: 498px;
      height: 113px;
      margin-left: -249px;
      margin-top: -189px;
      background: var(--section_6--subtitle) no-repeat center 0;
      filter: brightness(1) blur(0px);
    }

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 994px;
      height: 411px;
      margin-top: -85px;
      transform: translateX(-50%);
      background: var(--section_6--content_bg) no-repeat center 0;

      .content__item {
        position: absolute;
        top: 50%;
        left: 50%;

        .item__content {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 359px;
          height: 319px;
          margin-top: -150px;
          filter: brightness(1) blur(0px);
        }
        .item__caption {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 193px;
          height: 83px;
          filter: brightness(1) blur(0px);
        }
      }
      .content__item--01 {
        .item__content {
          margin-left: -450px;
          background: var(--section_6--item01--content) no-repeat center 0;
        }

        .item__caption {
          margin-top: 96px;
          margin-left: -380px;
          background: var(--section_6--item01--caption) no-repeat center 0;
        }
      }
      .content__item--02 {
        .item__content {
          margin-left: -180px;
          background: var(--section_6--item02--content) no-repeat center 0;
        }

        .item__caption {
          margin-top: 96px;
          margin-left: -100px;
          background: var(--section_6--item02--caption) no-repeat center 0;
        }
      }
      .content__item--03 {
        .item__content {
          margin-left: 90px;
          background: var(--section_6--item03--content) no-repeat center 0;
        }

        .item__caption {
          margin-top: 96px;
          margin-left: 200px;
          background: var(--section_6--item03--caption) no-repeat center 0;
        }
      }
    }

    .cta {
      position: absolute;
      top: 50%;
      left: 50%;
      filter: brightness(1) blur(0px);
      width: 170px;
      height: 80px;
      margin-top: 313px;
      margin-left: -85px;
      background: var(--section_6--cta) no-repeat center 0;
    }
  }
  #main__item--07 {
    background-image: var(--bg_7);

    .title {
      width: 693px;
      height: 172px;
      margin-top: -277px;
      margin-left: -321px;
      background: var(--section_7--title) no-repeat center 0;
      filter: blur(0px) brightness(1);
    }

    .subtitle {
      width: 366px;
      height: 100px;
      margin-top: -140px;
      margin-left: -186px;
      background: var(--section_7--subtitle) no-repeat center 0;
    }

    .content__item {
      position: absolute;
      top: 50%;
      left: 50%;

      .item__line {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 258px;
        height: 19px;
        margin-top: -19px;
        transform: translateX(-50%);
        background: var(--section_7--item--line) no-repeat center 0;
      }

      &.content__item--01 {
        width: 444px;
        height: 320px;
        margin-top: -37px;
        margin-left: -444px;
        background: var(--section_7--item--bg) no-repeat center 0;
        filter: brightness(1) blur(0);

        .item__title {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 286px;
          height: 41px;
          margin-top: -71px;
          margin-left: -142px;
          background: var(--section_7--item01--title);
        }

        .item__caption {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 229px;
          height: 58px;
          margin-top: 14px;
          margin-left: -114px;
          background: var(--section_7--item01--caption);
        }
      }
      &.content__item--02 {
        width: 444px;
        height: 320px;
        margin-top: -37px;
        margin-left: -2px;
        background: var(--section_7--item--bg) no-repeat center 0;
        filter: brightness(1) blur(0);

        .item__title {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 286px;
          height: 41px;
          margin-top: -71px;
          margin-left: -142px;
          background: var(--section_7--item02--title) no-repeat center 0;
        }

        .item__caption {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 229px;
          height: 58px;
          margin-top: 14px;
          margin-left: -114px;
          background: var(--section_7--item02--caption);
        }
      }
    }
  }
  .prev {
    z-index: 4;
    transform: translateY(-100%);
  }
  .active {
    z-index: 3;
    transform: translateY(0%) !important;
  }
  .next {
    z-index: 4;
    transform: translateY(100%);
  }
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
